 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Accomplished software
                        developer with an interest in
                        building secure and
                        architecturally sound
                        products. A part-time
                        cybersec researcher with an
                        excitement and eagerness to
                        learn every day.</p>
                </div>
                <div class="col-lg-4">
                    <p>Java, Kotlin, Dart are my main weapon for programming. I am well experienced in Spring and Flutter frameworks</p>
                </div>
                
            </div>
        </div>
    </section>
