---
import Layout from "@layouts/Layout.astro";
import Contact from "@components/Contact.astro";
import Blogs from "@components/Blogs.astro";
import Work from "@components/Work.astro";
import Project from "@components/Project.astro";
import { home } from "@constants";

const { title, description } = home;
---

<Layout title={title} description={description}>
  <div class="flex flex-col gap-8">
    <div>
      <h1 class="text-lg font-bold mb-8">Hi, I am Nathan</h1>
      <p class="leading-6 tracking-wide text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elementum
        luctus purus sit amet sodales. Phasellus tempor magna eget ante euismod,
        sit amet pharetra era lacinia. Vivamus molestie non justo vitae laoreet.
        Vivamus at eros vel sapien sollicitudin posuere. Duis ut diam risus.
        Vivamus odio mi, mollis a dolor at, auctor sollicitudin est. Suspendisse
        potenti. Maecenas accumsan ligula a orci bibendum tempus. Integer at
        gravida lorem. Nullam eu odio nec sapien faucibus accumsan id in mauris.
      </p>
    </div>
    <div>
      <div class="flex justify-between mb-8">
        <h1 class="text-lg font-bold">Latest posts</h1>
        <a
          class="underline dark:text-white-400 text-black-100 dark:hover:text-white-500 hover:text-black-500 hover:font-medium"
          href="/blogs"
        >
          See all posts
        </a>
      </div>
      <Blogs top={2}/>
    </div>
    <div>
      <div class="flex justify-between mb-8">
        <h1 class="text-lg font-bold">Work experience</h1>
        <a
          class="underline dark:text-white-400 text-black-100 dark:hover:text-white-500 hover:text-black-500 hover:font-medium"
          href="/work"
        >
          See all experience
        </a>
      </div>
      <Work top={2}/>
    </div>

    <div>
      <div class="flex justify-between mb-8">
        <h1 class="text-lg font-bold">Latest projects</h1>
        <a
          class="underline dark:text-white-400 text-black-100 dark:hover:text-white-500 hover:text-black-500 hover:font-medium"
          href="/projects"
        >
          See all projects
        </a>
      </div>
      <Project top={2}/>
    </div>

    <Contact />
  </div>
</Layout>
