---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li
  class="list-none border rounded-lg px-4 py-2 transition-colors
         border-white-200 dark:border-black-200 hover:bg-white-400 dark:hover:bg-black-400"
>
  <a href={href}>
    <h2 class="flex justify-between font-bold pb-2">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="line-clamp-1">
      {body}
    </p>
  </a>
</li>
