---
const year = (new Date()).getFullYear();
---

<footer class="py-5 drop-shadow-md z-50">
  <div class=" mx-auto max-w-screen-sm">
    <div class="flex flex-wrap justify-between">
      © {year} | natefu.xyz
    </div>
  </div>
</footer>
